<!-- BANNER -->
<div class="bannercontainer">
  <div class="fullscreenbanner-container" style="overflow: hidden">
    <div class="fullscreenbanner">
      <ul>
        <li>
          <div style="display: flex; justify-content: center; align-items: center; height: 500px; overflow: hidden">
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}, width: "100%") %>
           </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <div class="row featuredCollection">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>人気カテゴリー</h4>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <img alt="feature-collection-image" src="/assets/home/featured-collection/featured-collection-01-9198d16392eb942bc89b98dabc869c8d7052582508b45d3d3c032d76f796370e.jpg" />
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Shirts</a></div>
          </div>
          <div class="caption">
            <h4>Shirts</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <img alt="feature-collection-image" src="/assets/home/featured-collection/featured-collection-02-a7d4ab2d1f36f1bc3d6c3b818dd450dfd5566fa8ff902dc0fbbdc316a5dbc635.jpg" />
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Bags</a></div>
          </div>
          <div class="caption">
            <h4>Bags</h4>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12">
        <div class="thumbnail" onclick="location.href='single_product.html';">
          <div class="imageWrapper">
            <img alt="feature-collection-image" src="/assets/home/featured-collection/featured-collection-03-0e6a4d82ac17c365ed5ba00fa9c8fd0e4abedabbffddd3c7f92556c7dc1bbba6.jpg" />
            <div class="masking"><a href="product_grid_left_sidebar.html" class="btn viewBtn">View Denim</a></div>
          </div>
          <div class="caption">
            <h4>Denim</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row featuredProducts">
      <div class="col-xs-12">
        <div class="page-header">
          <h4>新着商品</h4>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="owl-carousel featuredProductsSlider">
          <div class="slide">
            <div class="productImage clearfix">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-01-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption clearfix">
              <a href="single_product.html">
                <h5>Mauris efficitur</h5>
              </a>
              <h3>199円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-02-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Nulla facilisi</h5>
              </a>
              <h3>149円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-03-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Praesent dui felis</h5>
              </a>
              <h3>79円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-04-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Cras eu faucibus</h5>
              </a>
              <h3>109円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-05-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Mauris lobortis augue</h5>
              </a>
              <h3>199円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-06-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Suspendisse suscipit</h5>
              </a>
              <h3>149円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-07-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Praesent a augue</h5>
              </a>
              <h3>79円</h3>
            </div>
          </div>
          <div class="slide">
            <div class="productImage">
              <img alt="featured-product-img" src="/assets/home/featured-product/product-09-994521b37e299d130c57932b74563f7b7ee371688628db17da501e76522197cc.jpg" />
            </div>
            <div class="productCaption">
              <a href="single_product.html">
                <h5>Cras vel augue</h5>
              </a>
              <h3>109円</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/footer_light_section" %>