<% provide(:title, @taxon.name) %>
<%= render "light_section", title: @taxon.name %>
<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <div class="panel panel-default">
          <div class="panel-heading">商品カテゴリー</div>
          <div class="panel-body">
            <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
              <ul class="nav navbar-nav side-nav">
                <%= render partial: "product_categories", collection: @taxonomies, as: :taxonomy, locals: { products: @products } %>
              </ul>
            </div>
          </div>
        </div>
        <%= render "find_by_color" %>
        <%= render "find_by_size" %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <div class="row filterArea">
          <%= render "drop_list" %>
          <%= render "btn_group" %>
        </div>
        <div class="row">
        <%= render partial: "product_images", collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render "layouts/footer_light_section" %>