<!-- TOPBAR -->
<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="col-md-6 hidden-sm hidden-xs">
        <ul class="list-inline">
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        </ul>
      </div>
      <div class="col-md-6 col-xs-12">
        <ul class="list-inline pull-right">
          <li class="dropdown searchBox">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <form id="form01" action="product-grid-left-sidebar.html" method="post">
              <li>
                <span class="input-group">
                  <input type="text" name="searchWord" class="form-control" placeholder="Search…" aria-describedby="basic-addon2">
                  <span onclick="FormSubmit();" class="input-group-addon addPointer" id="basic-addon2">検索</span>
                </span>
              </li>
              </form>
            </ul>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" date="{:toggle=&gt;&quot;dropdown disabled&quot;}" href="/potepan/cart_page">
              <i class="fa fa-shopping-cart"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>